html{
    font-size: 62.5%;
}

header{
    position: absolute;
    width: 100%;

    @include sp{
        position: relative;
        
    }
    
}
.header-wrap{
    width: 100%;
    font-family: normal normal normal 38px/46px Roboto Mono for Powerline;
    display: flex;
    padding-top: 6%;
    padding-left: 6%;
    letter-spacing: 3.8px;
  
    .header-logo{
        font-size: 3.8rem;
        min-width: 270px;
        @include sp{
            font-size: 20px;
        }
        
    }



    @include pc{
        .pcversion{
            display: flex;
            height: 35px;
            align-items: center;
            width: 30%;
            
        }
        .spversion{
            display: none;
        }

    }

    @include sp{

        padding-bottom: 20px;

        .pcversion{
            display: none;
        }

        .spversion{
            width: 20px;
            height: 30px;
            position: absolute;
            right: 4%;
            div{
                width: 30px;
                height: 33%;
            }
        }

        .top::after{
            display: block;
            content: "";
            border-top: 3px solid black;
        }
        .middle::after{
            display: block;
            content: "";
            border-top: 3px solid black;

        }
        .bottom::after{
            width: 17px;
            display: block;
            content: "";
            border-top: 3px solid black;
        }
        
    }
    nav{
        

        p{
            font-size: 1.8rem;
            margin-left: 9%;
            color: gray;            
        }
         .ept{
            color: black;
        }
    }

    
}

.ept{
    // display: flex;
    // flex-direction: column;
    &:after{
        display: block;
        content: "";
        border-top: 1px solid black;
        width: 40px;
        
    }
}
